In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv(r'C:\Users\tommy\OneDrive\Documents\Personal homework use\tableau\JC-201909-citibike-tripdata.csv')

In [5]:
df2 = pd.read_csv(r'C:\Users\tommy\OneDrive\Documents\Personal homework use\tableau\JC-201910-citibike-tripdata.csv')

In [7]:
df3 = pd.read_csv(r'C:\Users\tommy\OneDrive\Documents\Personal homework use\tableau\JC-201911-citibike-tripdata.csv')

In [8]:
citibike_2019 = pd.concat([df1, df2, df3])
citibike_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,145,2019-09-01 00:00:37.6920,2019-09-01 00:03:03.0100,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,29303,Subscriber,1991,1
1,212,2019-09-01 00:03:00.6000,2019-09-01 00:06:33.3420,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,29297,Subscriber,1993,2
2,569,2019-09-01 00:07:13.0020,2019-09-01 00:16:42.8610,3214,Essex Light Rail,40.712774,-74.036486,3184,Paulus Hook,40.714145,-74.033552,29435,Customer,1977,1
3,1380,2019-09-01 00:07:25.3350,2019-09-01 00:30:26.1640,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29509,Subscriber,1965,1
4,1346,2019-09-01 00:07:56.4670,2019-09-01 00:30:22.5440,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29226,Subscriber,1968,2

In [10]:
citibike_2019.to_csv(r'C:\Users\tommy\OneDrive\Documents\Personal homework use\tableau\citi_bike2019.csv')